USE [master]
GO
/****** Object:  Database [EJERCICIO]    Script Date: 09/06/2020 08:26:40 p. m. ******/
CREATE DATABASE [EJERCICIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EJERCICIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\EJERCICIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EJERCICIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\EJERCICIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EJERCICIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EJERCICIO]
GO

/****** Object:  Table [dbo].[CLIENTE]    Script Date: 09/06/2020 08:26:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[NOM] [varchar](30) NOT NULL,
	[APES] [varchar](30) NOT NULL,
	[CURP] [varchar](18) NOT NULL,
	[DIR] [varchar](30) NOT NULL,
	[TEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CURP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CLIENTES_A]    Script Date: 09/06/2020 08:26:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[CLIENTES_A]
 AS
 SELECT NOM FROM CLIENTE GROUP BY NOM HAVING SUBSTRING(NOM,1,1)='A'
GO
/****** Object:  View [dbo].[CLIENTE_DIR]    Script Date: 09/06/2020 08:26:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[CLIENTE_DIR]
 AS 
 SELECT NOM , DIR FROM CLIENTE GROUP BY NOM , DIR 
GO
/****** Object:  View [dbo].[CLIENTE_TEL]    Script Date: 09/06/2020 08:26:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[CLIENTE_TEL]
 AS
 SELECT NOM , TEL FROM CLIENTE GROUP BY NOM , TEL
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 09/06/2020 08:26:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[CURP] [varchar](18) NOT NULL,
	[COD_P] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 09/06/2020 08:26:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[NOMP] [varchar](30) NOT NULL,
	[COD_P] [int] NOT NULL,
	[PRECIO] [float] NULL,
	[RFC_PRO] [varchar](13) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 09/06/2020 08:26:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[RFC_PRO] [varchar](13) NOT NULL,
	[NOM_PRO] [varchar](30) NOT NULL,
	[DIR_PRO] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RFC_PRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESP]    Script Date: 09/06/2020 08:26:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESP](
	[NOM] [varchar](30) NOT NULL,
	[APES] [varchar](30) NOT NULL,
	[CURP] [varchar](18) NOT NULL,
	[DIR] [varchar](30) NOT NULL,
	[TEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CURP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTE] ([NOM], [APES], [CURP], [DIR], [TEL]) VALUES (N'ANDREA', N'GONZALEZ', N'FDGH543232FTT433E', N'APODACA', 814195681)
INSERT [dbo].[CLIENTE] ([NOM], [APES], [CURP], [DIR], [TEL]) VALUES (N'ALEXIS', N'PALACIOS', N'GFH87421654567OIH', N'APODACA', 804195687)
INSERT [dbo].[CLIENTE] ([NOM], [APES], [CURP], [DIR], [TEL]) VALUES (N'DANIEL', N'GOMEZ', N'HJKIK57890IUU88E7', N'SAN PEDRO', 804195686)
GO
INSERT [dbo].[COMPRA] ([CURP], [COD_P]) VALUES (N'MARJ98113HQTRYR02', 1)
INSERT [dbo].[COMPRA] ([CURP], [COD_P]) VALUES (N'FDGH543232FTT433E', 2)
INSERT [dbo].[COMPRA] ([CURP], [COD_P]) VALUES (N'MHFES1234543242ED', 1)
GO
INSERT [dbo].[PRODUCTO] ([NOMP], [COD_P], [PRECIO], [RFC_PRO]) VALUES (N'GALLETA DE LIMON', 1, 10.6, N'GALTS092323DF')
INSERT [dbo].[PRODUCTO] ([NOMP], [COD_P], [PRECIO], [RFC_PRO]) VALUES (N'GALLETA DE AVENA', 2, 11.3, N'GALTS092323DF')
INSERT [dbo].[PRODUCTO] ([NOMP], [COD_P], [PRECIO], [RFC_PRO]) VALUES (N'GALLETA DE CHOCOLATE', 3, 11.2, N'GALTS092323DF')
GO
INSERT [dbo].[PROVEEDOR] ([RFC_PRO], [NOM_PRO], [DIR_PRO]) VALUES (N'CHCLS34R433NL', N'CHICLES NUEVO LEON', N'MONTERREY')
INSERT [dbo].[PROVEEDOR] ([RFC_PRO], [NOM_PRO], [DIR_PRO]) VALUES (N'GALTS092323DF', N'PALETITAS DF', N'ESTADO DE MEXICO')
INSERT [dbo].[PROVEEDOR] ([RFC_PRO], [NOM_PRO], [DIR_PRO]) VALUES (N'PALTS786534GD', N'PALETAS GUADALAJARA', N'ZAPOPAN')
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD FOREIGN KEY([COD_P])
REFERENCES [dbo].[PRODUCTO] ([COD_P])
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD FOREIGN KEY([CURP])
REFERENCES [dbo].[CLIENTE] ([CURP])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([RFC_PRO])
REFERENCES [dbo].[PROVEEDOR] ([RFC_PRO])
GO
