USE [master]
GO
/****** Object:  Database [EJERCICIO]    Script Date: 16/06/2020 03:03:40 p. m. ******/
CREATE DATABASE [EJERCICIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EJERCICIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\EJERCICIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EJERCICIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\EJERCICIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EJERCICIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EJERCICIO]
GO
/****** Object:  UserDefinedFunction [dbo].[EnMinusculas]    Script Date: 16/06/2020 03:03:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[EnMinusculas]
(
@Nom Varchar(30),
@Apes Varchar(30)
)
RETURNS Varchar(100)
AS
BEGIN
 RETURN (LOWER(@Apes) + ', ' + LOWER(@Nom))
END
GO
/****** Object:  UserDefinedFunction [dbo].[VALIDAR_TEL]    Script Date: 16/06/2020 03:03:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[VALIDAR_TEL]( @TEL AS INT )
RETURNS VARCHAR (10)
AS
BEGIN
	RETURN CAST(@TEL AS VARCHAR(10)) 
END
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 16/06/2020 03:03:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[CURP] [varchar](18) NOT NULL,
	[COD_P] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 16/06/2020 03:03:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[NOMP] [varchar](30) NOT NULL,
	[COD_P] [int] NOT NULL,
	[PRECIO] [float] NULL,
	[RFC_PRO] [varchar](13) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PROD_COMPRAS]    Script Date: 16/06/2020 03:03:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PROD_COMPRAS] AS (
SELECT PRODUCTO.COD_P AS NOMP,PRECIO,COMPRA.COD_P FROM PRODUCTO LEFT JOIN COMPRA ON CURP = COMPRA.CURP
)
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 16/06/2020 03:03:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[NOM] [varchar](30) NOT NULL,
	[APES] [varchar](30) NOT NULL,
	[CURP] [varchar](18) NOT NULL,
	[DIR] [varchar](30) NOT NULL,
	[TEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CURP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[personas_compras]    Script Date: 16/06/2020 03:03:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[personas_compras] AS(
SELECT NOM, APES,DIR,TEL FROM CLIENTE LEFT JOIN COMPRA ON CLIENTE.CURP = COMPRA.CURP
WHERE CLIENTE.CURP = (SELECT CURP FROM CLIENTE where COMPRA.CURP= CLIENTE.CURP) 
GROUP BY NOM,APES,DIR,TEL
)
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 16/06/2020 03:03:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[RFC_PRO] [varchar](13) NOT NULL,
	[NOM_PRO] [varchar](30) NOT NULL,
	[DIR_PRO] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RFC_PRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PROD_PROV]    Script Date: 16/06/2020 03:03:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PROD_PROV] AS (
SELECT PROVEEDOR.NOM_PRO AS NOM_PRO,DIR_PRO
FROM PRODUCTO RIGHT JOIN PROVEEDOR ON PROVEEDOR.RFC_PRO=PRODUCTO.RFC_PRO
GROUP BY PRODUCTO.NOMP,PROVEEDOR.NOM_PRO,DIR_PRO
)
GO
/****** Object:  View [dbo].[CLENTE_A]    Script Date: 16/06/2020 03:03:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[CLENTE_A] AS(SELECT NOM FROM CLIENTE GROUP BY NOM HAVING SUBSTRING(NOM,1,1)='A')
GO
/****** Object:  View [dbo].[CLIENTE_DIR]    Script Date: 16/06/2020 03:03:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[CLIENTE_DIR]
 AS 
 SELECT NOM , DIR FROM CLIENTE GROUP BY NOM , DIR 
GO
/****** Object:  Table [dbo].[RESP]    Script Date: 16/06/2020 03:03:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESP](
	[NOM] [varchar](30) NOT NULL,
	[APES] [varchar](30) NOT NULL,
	[CURP] [varchar](18) NOT NULL,
	[DIR] [varchar](30) NOT NULL,
	[TEL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CURP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTE] ([NOM], [APES], [CURP], [DIR], [TEL]) VALUES (N'ANDREA', N'GONZALEZ', N'FDGH543232FTT433E', N'APODACA', 814195681)
INSERT [dbo].[CLIENTE] ([NOM], [APES], [CURP], [DIR], [TEL]) VALUES (N'ALEXIS', N'PALACIOS', N'GFH87421654567OIH', N'APODACA', 804195687)
INSERT [dbo].[CLIENTE] ([NOM], [APES], [CURP], [DIR], [TEL]) VALUES (N'DANIEL', N'GOMEZ', N'HJKIK57890IUU88E7', N'SAN PEDRO', 804195686)
GO
INSERT [dbo].[COMPRA] ([CURP], [COD_P]) VALUES (N'MARJ98113HQTRYR02', 1)
INSERT [dbo].[COMPRA] ([CURP], [COD_P]) VALUES (N'FDGH543232FTT433E', 2)
INSERT [dbo].[COMPRA] ([CURP], [COD_P]) VALUES (N'MHFES1234543242ED', 1)
GO
INSERT [dbo].[PRODUCTO] ([NOMP], [COD_P], [PRECIO], [RFC_PRO]) VALUES (N'GALLETA DE LIMON', 1, 10.6, N'GALTS092323DF')
INSERT [dbo].[PRODUCTO] ([NOMP], [COD_P], [PRECIO], [RFC_PRO]) VALUES (N'GALLETA DE AVENA', 2, 11.3, N'GALTS092323DF')
INSERT [dbo].[PRODUCTO] ([NOMP], [COD_P], [PRECIO], [RFC_PRO]) VALUES (N'GALLETA DE CHOCOLATE', 3, 11.2, N'GALTS092323DF')
GO
INSERT [dbo].[PROVEEDOR] ([RFC_PRO], [NOM_PRO], [DIR_PRO]) VALUES (N'CHCLS34R433NL', N'CHICLES NUEVO LEON', N'MONTERREY')
INSERT [dbo].[PROVEEDOR] ([RFC_PRO], [NOM_PRO], [DIR_PRO]) VALUES (N'GALTS092323DF', N'PALETITAS DF', N'ESTADO DE MEXICO')
INSERT [dbo].[PROVEEDOR] ([RFC_PRO], [NOM_PRO], [DIR_PRO]) VALUES (N'PALTS786534GD', N'PALETAS GUADALAJARA', N'ZAPOPAN')
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD FOREIGN KEY([COD_P])
REFERENCES [dbo].[PRODUCTO] ([COD_P])
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD FOREIGN KEY([CURP])
REFERENCES [dbo].[CLIENTE] ([CURP])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([RFC_PRO])
REFERENCES [dbo].[PROVEEDOR] ([RFC_PRO])
GO
/****** Object:  StoredProcedure [dbo].[CLIENTE_DIRP]    Script Date: 16/06/2020 03:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CLIENTE_DIRP]  @NOM NVARCHAR(20) , @DIR NVARCHAR (20)
AS
SELECT NOM FROM CLIENTE_DIR WHERE NOM = @NOM AND DIR = @DIR
GO
/****** Object:  StoredProcedure [dbo].[CLIENTES_A]    Script Date: 16/06/2020 03:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CLIENTES_A] @NOM NVARCHAR(20) AS
SELECT NOM FROM CLENTE_A GROUP BY NOM HAVING SUBSTRING(@NOM,1,1)='A'
GO
/****** Object:  StoredProcedure [dbo].[CLIENTES_AP]    Script Date: 16/06/2020 03:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CLIENTES_AP] @NOM NVARCHAR(20)
AS
SELECT * FROM CLIENTES_A WHERE NOM = @NOM
GO
/****** Object:  StoredProcedure [dbo].[COMPRA_PROD]    Script Date: 16/06/2020 03:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[COMPRA_PROD](@codigoProducto as varchar(30)) AS
BEGIN
	SELECT * FROM PROD_COMPRAS WHERE COD_P=(SELECT COD_P FROM PRODUCTO WHERE COD_P=@codigoProducto)
END
GO
/****** Object:  StoredProcedure [dbo].[PERSONASPORDIR]    Script Date: 16/06/2020 03:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PERSONASPORDIR](@dir as varchar(50)) AS
BEGIN
 SELECT * FROM personas_compras WHERE DIR=@dir
END
GO
/****** Object:  StoredProcedure [dbo].[PRIMERALETRA]    Script Date: 16/06/2020 03:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRIMERALETRA] (@letra as varchar(1)) AS 
BEGIN
	SELECT * FROM personas_compras WHERE SUBSTRING(NOM,1,1)=@letra
END
GO
/****** Object:  Trigger [dbo].[CIENTESB]    Script Date: 16/06/2020 03:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CIENTESB]
ON [dbo].[CLIENTE]
AFTER DELETE
AS
BEGIN 
	INSERT RESP
	SELECT *
	FROM deleted
END
GO
ALTER TABLE [dbo].[CLIENTE] ENABLE TRIGGER [CIENTESB]
GO
/****** Object:  Trigger [dbo].[PRODin]    Script Date: 16/06/2020 03:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[PRODin]
ON [dbo].[PRODUCTO]
INSTEAD of insert
AS
BEGIN 
	insert into PRODUCTO
     select*
     from inserted where PRECIO > 10 
END
GO
ALTER TABLE [dbo].[PRODUCTO] ENABLE TRIGGER [PRODin]
GO
USE [master]
GO
